footer {
    display: grid;
    padding-bottom: 2rem;
    align-items: center;
    justify-content: center;


    h2 {
        text-align: center;
        font-family: $spectral;
        font-size: 4rem;
        text-decoration: overline;
    }

    h3 {
        margin-top: 0;
        margin-bottom: 1.5rem;
        font-size: 2rem;
        font-family: $unbutu;
        text-decoration: underline;
        text-underline-offset: 0.2rem;
        text-underline-position: under;
    }

    p {
        font-size: 1.5rem;
    }
    .contact {
        display: grid;
        grid-template-columns: 50% 50%;
        width: 100vw;

        .form {
            font-size: 2rem;
            display: grid;
            gap: 1rem;
            grid-template-rows: max-content max-content max-content max-content max-content max-content;
            align-items: center;
            justify-content: center;
            width: 100%;

            &_input-field {
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
                height: fit-content;

                &_label {
                    font-size: 1.5rem;
                    font-family: $unbutu;
                }

                #message, #email {
                    height: 2rem;
                    width: 20rem;
                    
                }

                #message::placeholder,
                #email::placeholder {
                    font-size: 1rem;
                    font-family: $unbutu;
                    padding: 0.4rem;
                }

                #message {
                    height: 10rem;
                }

                input,
                textarea {
                    border: 0.1px solid $black;
                    background-color: #F4F4F4;
                }
            }
        }

        &_perso {

            display: grid;
            gap: 2rem;


            &_detail {
                
                display: flex;
                flex-direction: column;
                align-items: center;

                &_box {
                    color: $white;
                    background-color: $main-color;
                    width: 50%;
                    text-align: center;
                    padding: 0.1rem 0.7rem;
                }
            }
        }

    }
}

