#error-page {
    height: 50vh;
    margin: 25% 0;
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;

    a {
        text-decoration: underline;
    }
}