@import "./intro.scss";
@import "./portrait.scss";
@import "./propos.scss";
@import "./competences.scss";
@import "./projets.scss";

.home-content {
    background: $home-background;
}

.button {
    font-family: $unbutu;
    font-size: 0.75rem;
    color: $white;
    background-color: $black;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;

    @include tablet {
        font-size: 1rem;
    }

    @include desktop {
        font-size: 1.25rem;
    }
}