@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Roboto+Slab:wght@100..900&family=Spectral:wght@400;500;700&family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap');

$font_weight_bold: 700;
$font_weight_medium: 500;
$font_weight_light: 400;

$unbutu : "Ubuntu Sans", sans-serif;
$spectral: "Spectral", sans-serif;
$roboto: "Roboto Slab", sans-serif;


$black: #000;
$white: #fff;