@import "./utilis/variables.scss";
@import "./utilis/mixin.scss";
@import "./layout/header.scss";
@import "./layout/footer.scss";
@import "./pages/home.scss";
@import "./pages/projet1.scss";

html {
  font-family: $unbutu;
  position: relative;

}

body {
  margin: 0;
}


a {
    text-decoration: none;
    color: $black;
}

p {
  line-height: 2rem;
}

