@import "./utilis/variables.scss";
@import "./utilis/mixin.scss";
@import "./layout/header.scss";
@import "./layout/footer.scss";
@import "./pages/home.scss";
@import "./pages/projet1.scss";

html {
  font-family: $unbutu;

}

body {
  margin: 0;
  background: linear-gradient(180deg, rgb(244, 244, 244) 0%,rgb(244, 244, 244) 50%, rgb(0, 0, 0) 100%);
}


a {
    text-decoration: none;
    color: $black;
}

p {
  line-height: 2rem;
}