@import "./utilis/variables.scss";
@import "./utilis/mixin.scss";
@import "./layout/header.scss";
@import "./layout/footer.scss";
@import "./pages/home.scss";
@import "./pages/projet1.scss";
@import "./pages/error-page.scss";

html {
  font-family: $unbutu;
  position: relative;
  overflow-y:scroll;

  @include largeScreen {
    font-size: 1.2rem;
  }

  @include extraLargeScreen {
    font-size: 1.7rem;
  }
  
  @include fourK {
    font-size: 2.2rem;
  }
}

body {
  margin: 0;
  max-width: 100vw;
}


a {
    text-decoration: none;
    color: $black;
}

p {
  line-height: 2rem;
}

main {
  overflow: hidden;
}
